.d-header .contents .title {
  #site-logo {
    margin-right: 0;
  }

  a {
    margin-right: 10px;
    vertical-align: middle;
  }

  .p-text {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
  }

  .start {
    font-size: 1.5em;
    color: $tertiary;
    margin-top: 3px;
    font-weight: 100;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1.5px;
  }
}

.d-header .contents .panel {
  min-height: 40px;
}

.extra-info h1 {
  margin: 7px 10px 0 0;
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: normal;

  span {
    vertical-align: top;
    margin-right: 10px;
  }

  .topic-link {
    display: inline-block;
    vertical-align: top;
  }
}
